body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  flex:1;
}

#micButton {
  /*height : 4rem;
  width  : 4rem;
  border-radius : 50%;*/
}

.active {
  background-color: red;
}

.highlight {
  background: yellow;
}

.provider {
  height: 100px;
}

.hidden {
  display: none;
}

.progress {
  background-color: #29b6f6;
}

.progress .indeterminate {
  background-color: #ff9800;
}
